body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Estilos para o menu */
header {
    background-color: #2A66DA; /* Cor de fundo do menu */
    color: #fff; /* Cor do texto */
    padding: 0.20% 0; /* Espaçamento interno */
    display: flex; /* Torna o cabeçalho um contêiner flexível */
    justify-content: center; /* Distribui os elementos ao longo do cabeçalho */
    align-items: center; /* Alinha os itens verticalmente */
}

.logo {
    width: 7%;
    height: 7%;
    margin-right: 25%;
}

nav {
    flex: 1; /* Ocupa todo o espaço restante */
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

nav a {
    font-size: 12pt;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff; /* Cor do texto do link */
    text-decoration: none; /* Remove sublinhado padrão do link */
    margin-right: 6%; /* Espaçamento entre os itens */
    transition: color 0.3s; /* Transição suave da cor */
}

nav a:hover {
    color: #cdcdcd; /* Cor do texto ao passar o mouse */
}

/* Estilos adicionais para o conteúdo principal */
.main-content {
    flex: 1; /* Flexível para ocupar o espaço restante */
}

/* CSS para remover o padding */
div.col-md-4 {
    display: flex;
    justify-content: center;
    padding: 0 0 0 5%;
}

.banner {
    padding: 3% 0 5% 11%; /* Aumentando o padding para aumentar o espaço ao redor do banner */
    text-align: left;
    display: flex; /* Adicionando display flex para alinhar a imagem e o conteúdo lado a lado */
    align-items: center; /* Alinhando verticalmente */
    justify-content: space-between; /* Distribuindo o espaço entre a imagem e o conteúdo */
}

.banner .banner-content {
    flex: 1;
}

.banner .img-banner {
    flex: 1;
    text-align: right;
    margin: 0 8% 0 0;
}

.img-banner img {
    width: 100%; 
    height: 80%;
}

.banner .title-banner {
    text-align: left;
    color: #000;
    font-weight: 500;
    font-size: 25pt;
    padding-bottom: 3%;
}

.banner .effect-text {
    text-align: justify;
    font-size: 16pt;
}

.section-container {
    background-color: #eeeeee;
}

.card {
    max-width: 100%;
    margin: 0; /* Isso centraliza os cards na página */
}

.card-body {
    width: 100%;
    height: 100%;
    background-color: #eeeeee; 
    border: 3px solid #2A66DA;
    border-radius: 8px;
}

.card h5 {
    text-align: center;
    overflow-wrap: break-word;
    font-size: 16px; /* Reduza um pouco o tamanho da fonte */
}

.dev-cards {
    display: flex;
    justify-content: center;
    padding: 0 0 16% 0;
}

.title-card {
    display: flex;
    justify-content: center;
    font-size: 20pt;
    padding: 5% 0;
}

.contact-info {
    display: flex;
    align-items: center; /* Alinhar itens verticalmente */
    padding: 2% 0; /* Ajuste o padding para dar mais espaço entre as informações de contato */
}

.contact-info img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.contact-info span {
    overflow: hidden; /* Evita que o texto ultrapasse o tamanho do contêiner */
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    word-wrap: break-word; /* Permite que o texto longo seja quebrado em linhas */
    flex-grow: 1; /* Permite que o texto ocupe o espaço disponível */
}

/* Estilos para o footer */
.footer-bg {
    background-color: #2A66DA;
    color: #fff;
    padding: 5% 0 0 0; /* Remove o padding inferior */
    width: 100%;
}

.footer-bg .dl-btn {
    color: #fff;
}

.footer-bg .dl-btn a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.footer-bg .dl-btn a:hover {
    text-decoration: underline;
}

.footer-bg ul {
    list-style: none;
    padding: 0;
}

.footer-bg ul li {
    margin-bottom: 4%;
}

.footer-bg ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bg ul li a:hover {
    text-decoration: underline;
}

.footer-bg .fl-us {
    list-style: none;
    padding: 0;
}

.footer-bg .fl-us li {
    display: inline-block;
}

.footer-bg .fl-us li a {
    color: #fff;
    text-decoration: none;
}

.footer-bg .fl-us li a:hover {
    text-decoration: underline;
}

.footer-bg p {
    color: #fff;
}

.footer-bg .title {
    font-weight: bold;
}

.footer-logo {
    width: 50%;
    height: 50%;
    border: 2px solid #fff; /* Borda branca */
    border-radius: 50%; /* Borda arredondada */
    padding: 5%; /* Espaçamento interno para separar a borda da imagem */
}

.footer-bottom {
    color: #fff;
    text-align: center;
    margin-top: auto; /* Adiciona margem automática na parte superior */
}

.github {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 20%;
}

/* Adicionando regra de mídia para telas menores que 768px */
@media (max-width: 767px) {
    .logo {
        width: 20%; /* Redimensionando o logo para ocupar menos espaço */
        margin: 0 auto; /* Centralizando o logo */
    }

    nav {
        text-align: center; /* Alinhando os itens do menu ao centro */
    }

    nav a {
        display: block; /* Transformando os links do menu em blocos */
        margin: 10px 0; /* Adicionando espaço entre os links */
    }

    .banner {
        padding: 10% 5%; /* Redefinindo o padding */
        flex-direction: column; /* Colocando os elementos do banner em coluna */
        text-align: center; /* Alinhando o texto do banner ao centro */
    }

    .banner .img-banner {
        max-width: 110%; /* Tornando a imagem do banner responsiva */
        max-height: auto;
    }

    .banner-content {
        padding: 5% 0; /* Redefinindo o padding */
    }

    .banner-content h1 {
        font-size: 24px; /* Reduzindo o tamanho do título */
    }

    .banner-content p {
        font-size: 14px; /* Reduzindo o tamanho do texto */
    }

    .dev-cards {
        padding: 0 5%; /* Adicionando padding lateral */
    }

    .container {
        max-width: 90%;
    }
}

/* Adicionando regra de mídia para telas maiores que 767px */
@media (min-width: 768px) {

    .logo {
        width: 10%; /* Redimensionando o logo */
    }

    .banner {
        padding: 3% 0 14% 11%; /* Redefinindo o padding */
    }

    .img-banner {
        max-width: 33%; /* Tornando a imagem do banner responsiva */
        margin-right: 8%; /* Ajustando a margem */
    }

    .banner-content h1 {
        font-size: 25pt; /* Redefinindo o tamanho do título */
    }

    .banner-content p {
        font-size: 12pt; /* Redefinindo o tamanho do texto */
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}