body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para o menu */
header {
    background-color: #2A66DA; /* Cor de fundo do menu */
    color: #fff; /* Cor do texto */
    padding: 0.20% 0; /* Espaçamento interno */
    display: flex; /* Torna o cabeçalho um contêiner flexível */
    justify-content: center; /* Distribui os elementos ao longo do cabeçalho */
    align-items: center; /* Alinha os itens verticalmente */
}

.logo {
    width: 7%;
    height: 7%;
    margin-right: 25%;
}

nav {
    flex: 1; /* Ocupa todo o espaço restante */
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20%; /* Espaçamento entre os itens */
}

nav a {
    font-size: 12pt;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff; /* Cor do texto do link */
    text-decoration: none; /* Remove sublinhado padrão do link */
    transition: color 0.3s; /* Transição suave da cor */
}

nav a:hover {
    color: #cdcdcd; /* Cor do texto ao passar o mouse */
}

/* Estilos adicionais para o conteúdo principal */
.main-content {
    flex: 1; /* Flexível para ocupar o espaço restante */
}

/* Estilos para o formulário de contato */
.container-form {
    max-width: 100%; /* Altere para o valor desejado, por exemplo, 90% */
    padding: 5% 0; /* Ajuste o espaçamento superior e inferior conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box {
    max-width: 35%; /* Defina um máximo razoável */
    padding: 30px 5%; /* Ajuste o padding conforme necessário */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contact-box .form-label {
    font-weight: bold;
}

.contact-box .form-control {
    margin-bottom: 15px;
}

.contact-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

/* Estilos para o footer */
.footer-bg {
    background-color: #2A66DA;
    color: #fff;
    padding: 5% 0 0 0; /* Remove o padding inferior */
    width: 100%;
}

.footer-bg .dl-btn {
    color: #fff;
}

.footer-bg .dl-btn a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.footer-bg .dl-btn a:hover {
    text-decoration: underline;
}

.footer-bg ul {
    list-style: none;
    padding: 0;
}

.footer-bg ul li {
    margin-bottom: 4%;
}

.footer-bg ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bg ul li a:hover {
    text-decoration: underline;
}

.footer-bg .fl-us {
    list-style: none;
    padding: 0;
}

.footer-bg .fl-us li {
    display: inline-block;
}

.footer-bg .fl-us li a {
    color: #fff;
    text-decoration: none;
}

.footer-bg .fl-us li a:hover {
    text-decoration: underline;
}

.footer-bg p {
    color: #fff;
}

.footer-bg .title {
    font-weight: bold;
}

.footer-logo {
    width: 50%;
    height: 50%;
    border: 2px solid #fff; /* Borda branca */
    border-radius: 50%; /* Borda arredondada */
    padding: 5%; /* Espaçamento interno para separar a borda da imagem */
}

.footer-bottom {
    color: #fff;
    text-align: center;
    margin-top: auto; /* Adiciona margem automática na parte superior */
}

.github {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 20%;
}

/* Adicionando regra de mídia para telas menores que 768px */
@media (max-width: 767px) {
    .logo {
        width: 20%; /* Redimensionando o logo para ocupar menos espaço */
        margin: 0 auto; /* Centralizando o logo */
    }

    nav {
        text-align: center; /* Alinhando os itens do menu ao centro */
    }

    nav a {
        display: block; /* Transformando os links do menu em blocos */
        margin: 10px 0; /* Adicionando espaço entre os links */
    }

    .container-form {
        padding: 10% 0; /* Ajuste o espaçamento para telas menores, se necessário */
        max-width: 90%;
        margin: 0 auto;
    }

    .contact-box {
        width: 90%;
        padding: 20px 5%;
    }

    /* Estilos para os campos do formulário em telas menores */
    .form-label {
        font-size: 14px; /* Reduz o tamanho da fonte das etiquetas */
    }
}

/* Adicionando regra de mídia para telas maiores que 767px */
@media (min-width: 768px) {
    .logo {
        width: 10%; /* Redimensionando o logo */
    }

    .container-form {
        max-width: 90%;
        margin: 0 auto;
    }

    .contact-box {
        width: 30%; /* Define a largura do formulário */
        padding: 20px 25px; /* Ajusta o preenchimento interno */
    }

    /* Estilos para os campos do formulário em telas maiores */
    .form-label {
        font-size: 16px; /* Ajusta o tamanho da fonte das etiquetas */
    }
}

