/* Estilos para o menu */
header {
    background-color: #2A66DA; /* Cor de fundo do menu */
    color: #fff; /* Cor do texto */
    padding: 0.20% 0; /* Espaçamento interno */
    display: flex; /* Torna o cabeçalho um contêiner flexível */
    justify-content: center; /* Distribui os elementos ao longo do cabeçalho */
    align-items: center; /* Alinha os itens verticalmente */
}

.logo {
    width: 7%;
    height: 7%;
    margin-right: 25%;
}

nav {
    flex: 1; /* Ocupa todo o espaço restante */
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20%; /* Espaçamento entre os itens */
}

nav a {
    font-size: 12pt;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff; /* Cor do texto do link */
    text-decoration: none; /* Remove sublinhado padrão do link */
    transition: color 0.3s; /* Transição suave da cor */
}

nav a:hover {
    color: #cdcdcd; /* Cor do texto ao passar o mouse */
}

/* Estilos adicionais para o conteúdo principal */
.main-content {
    flex: 1; /* Flexível para ocupar o espaço restante */
}

/* CSS para remover o padding */
div.col-md-4 {
    display: flex;
    justify-content: center;
    padding: 0 0 0 5%;
}

/* Estilo para o banner */
.banner {
    padding: 7% 0 14% 11%; /* Aumentando o padding para aumentar o espaço ao redor do banner */
    text-align: left;
    display: flex; /* Adicionando display flex para alinhar a imagem e o conteúdo lado a lado */
    align-items: center; /* Alinhando verticalmente */
    justify-content: space-between; /* Distribuindo o espaço entre a imagem e o conteúdo */
}

.banner .text-description {
    padding-top: 4%;
}

/* Estilo para a imagem */
.banner img {
    max-width: 100%; /* Definindo a largura máxima da imagem */
}

/* Estilo para a imagem do banner */
.img-banner {
    max-width: 33%; /* Defina a largura máxima da div de imagem */
    float: right; /* Alinhe a div de imagem à direita */
    margin-right: 8%; /* Adicione uma margem à esquerda para separar a imagem do texto */
}

.banner-content {
    padding-bottom: 10%;
}

/* Estilo para o título */
.banner-content h1 {
    display: inline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25pt;
    font-weight: bold;
}

.banner-content .gallo {
    color: #2A66DA;
}

.banner-content .title {
    color: #000;
}

/* Estilo para a descrição */
.banner-content p {
    font-size: 12pt;
    color: #666;
}

/* Estilo para o texto de efeito */
.banner-content .effect-text {
    font-size: 16pt;
    color: #a8a6a6;
    font-weight: bold;
}

/* Estilo para o botão */
.banner-content button{
    padding: 2% 4%;
    background-color: #2A66DA;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14pt;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.banner-content button a {
    color: #fff;
    text-decoration: none;
}

.banner-2 {
    padding: 0 0 14% 11%; /* Aumentando o padding para aumentar o espaço ao redor do banner */
    text-align: left;
    display: flex; /* Adicionando display flex para alinhar a imagem e o conteúdo lado a lado */
    align-items: center; /* Alinhando verticalmente */
    justify-content: space-between; /* Distribuindo o espaço entre a imagem e o conteúdo */
}

.banner-2 .banner-content-2 {
    flex: 1;
}

.banner-2 .img-banner-2 {
    flex: 1;
    text-align: right;
    margin: 0 8% 0 0;
}

.banner-2 .title-banner-2 {
    text-align: left;
    color: #000;
    font-weight: 500;
    font-size: 25pt;
    padding-bottom: 3%;
}

.banner-2 .effect-text {
    text-align: justify;
    font-size: 16pt;
}

/* Ajuste a margem entre os cards */
.card {
    height: 100%;
    margin-bottom: 2%;
}

/* Estilo para a imagem redonda */
.card-img-top img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.small-cards {
    padding: 0 0 14% 11%;
}

.small-cards .card {
    width: 100%;
    height: 100%;
    padding-top: 4%;
    max-width: 32rem; /* Define a largura máxima dos cards */
    border: none; /* Remove a borda dos cards */
}

.small-cards .title-card-1 {
    text-align: center;
    padding-bottom: 2%;
}

.small-cards .card-img {
    width: 80%;
    height: 90%;
    justify-content: right;
    align-items: center;
}

.small-cards .card-body {
    font-size: 15px;
    padding: 0;
}

.colaborators-cards .title-card-2 {
    text-align: center;
    padding-bottom: 20px;
}

.colaborators-cards {
    padding: 0 0 14% 11%;
}

.colaborators-cards .card {
    border: none;
}

.colaborators-cards .card-subtitle {
    color: #a8a6a6;
    margin-bottom: 5%;
}

.ver-mais {
    display: none; /* Inicialmente oculto */
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    margin-top: 10px;
}

.banner-3 {
    background-color: #1e1e1e;
    padding: 0 11% 10% 11%; /* Aumentando o padding para aumentar o espaço ao redor do banner */
    display: flex; /* Adicionando display flex para alinhar a imagem e o conteúdo lado a lado */
    align-items: center;
}

.banner-3 .img-banner-3 .card-img-top img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-top: 30%;
}

.banner-3 .banner-content-3 {
    flex: 1;
    margin-left: 10%;
    margin-top: 5%;
}

.banner-3 .banner-content-3 .top .card-subtitle{
    margin-top: 2%;
    color: #a8a6a6;
    float: left;
}

.banner-3 .banner-content-3 .top .img-avaliacao {
    text-align: right;
    width: 100%;
}

.img-avaliacao img {
    margin-bottom: 5%;
}

.img-banner-3 img {
    width: 80%; 
    height: 100%;
}

.title-banner-3 {
    color: #fff;
    font-weight: 500;
    float: left;
}

.effect-text-3 {
    text-align: justify;
    font-size: 16pt;
    color: #cdcdcd;
}

/* Estilos para o footer */
.footer-bg {
    background-color: #2A66DA;
    color: #fff;
    padding: 5% 0 0 0; /* Remove o padding inferior */
    width: 100%;
}

.footer-bg .dl-btn {
    color: #fff;
}

.footer-bg .dl-btn a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.footer-bg .dl-btn a:hover {
    text-decoration: underline;
}

.footer-bg ul {
    list-style: none;
    padding: 0;
}

.footer-bg ul li {
    margin-bottom: 4%;
}

.footer-bg ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bg ul li a:hover {
    text-decoration: underline;
}

.footer-bg .fl-us {
    list-style: none;
    padding: 0;
}

.footer-bg .fl-us li {
    display: inline-block;
}

.footer-bg .fl-us li a {
    color: #fff;
    text-decoration: none;
}

.footer-bg .fl-us li a:hover {
    text-decoration: underline;
}

.footer-bg p {
    color: #fff;
}

.footer-bg .title {
    font-weight: bold;
}

.footer-logo {
    width: 50%;
    height: 50%;
    border: 2px solid #fff; /* Borda branca */
    border-radius: 50%; /* Borda arredondada */
    padding: 5%; /* Espaçamento interno para separar a borda da imagem */
}

.footer-bottom {
    color: #fff;
    text-align: center;
    margin-top: auto; /* Adiciona margem automática na parte superior */
}

.github {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 20%;
}

/* Adicionando regra de mídia para telas menores que 768px */
@media (max-width: 767px) {
    .logo {
        width: 20%; /* Redimensionando o logo para ocupar menos espaço */
        margin: 0 auto; /* Centralizando o logo */
    }

    nav {
        text-align: center; /* Alinhando os itens do menu ao centro */
    }

    nav a {
        display: block; /* Transformando os links do menu em blocos */
        margin: 10px 0; /* Adicionando espaço entre os links */
    }

    .banner {
        padding: 10% 5%; /* Redefinindo o padding */
        flex-direction: column; /* Colocando os elementos do banner em coluna */
        text-align: center; /* Alinhando o texto do banner ao centro */
    }

    .img-banner {
        max-width: 100%; /* Tornando a imagem do banner responsiva */
        margin: 20px auto; /* Centralizando a imagem */
    }

    .banner-content {
        padding: 5% 0; /* Redefinindo o padding */
    }

    .banner-content h1 {
        font-size: 24px; /* Reduzindo o tamanho do título */
    }

    .banner-content p {
        font-size: 14px; /* Reduzindo o tamanho do texto */
    }

    .banner-2 {
        padding: 10% 5%; /* Redefinindo o padding */
        flex-direction: column; /* Colocando os elementos do banner em coluna */
        text-align: center; /* Alinhando o texto do banner ao centro */
    }

    .img-banner-2 {
        max-width: 100%; /* Tornando a imagem do banner responsiva */
        margin: 20px auto; /* Centralizando a imagem */
    }

    .banner-content-2 {
        padding: 5% 0; /* Redefinindo o padding */
    }

    .banner-content-2 h1 {
        font-size: 24px; /* Reduzindo o tamanho do título */
    }

    .banner-content-2 p {
        font-size: 14px; /* Reduzindo o tamanho do texto */
    }

    .banner-3 {
        flex-direction: column;
        align-items: center;
    }

    .why-cards {
        padding: 0 5%; /* Adicionando padding lateral */
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}

/* Adicionando regra de mídia para telas maiores que 767px */
@media (min-width: 768px) {

    .logo {
        width: 10%; /* Redimensionando o logo */
    }

    .banner {
        padding: 5% 0 14% 11%; /* Redefinindo o padding */
    }

    .img-banner {
        max-width: 33%; /* Tornando a imagem do banner responsiva */
        margin-right: 8%; /* Ajustando a margem */
    }

    .banner-content h1 {
        font-size: 25pt; /* Redefinindo o tamanho do título */
    }

    .banner-content p {
        font-size: 12pt; /* Redefinindo o tamanho do texto */
    }

    .why-cards {
        padding-left: 11%; /* Redefinindo o padding */
        padding-right: 11%; /* Redefinindo o padding */
    }
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}